[user]
	email = liam.aharon@hotmail.com
	name = Liam Aharon
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[submodule]
	recurse = true
[lfs]
	concurrenttransfers = 32
